{% extends "base.html.twig" %}

{% block pageTitle %}Inscription{% endblock %}

{% block pageBody %}

    <div class="register-box">
        <div class="register-box-body">

            <p class="login-box-msg">Inscription sur {{ config("website.title") }}</p>

            {{ form_start(form) }}
            {{ form_widget(form) }}
            
            <div class="row">
                <div class="col-xs-4 pull-right">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">Inscription</button>
                </div>
            </div>
            {{ form_end(form) }}

            <a href="{{ path("login_form") }}" class="text-center">J'ai déjà un compte</a>

        </div>
    </div>
{% endblock %}