<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link rel="icon" type="image/png" href="/public/img/favicon.png" />
        <title>{{ config("website.title") }}</title>

        <link href="/public/components/normalize-css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="/public/css/Bootstrap.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

        <link href="/public/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="skin-red sidebar-mini">
        <div class="wrapper">

            <header class="main-header">

                <a href="{{ path("home") }}" class="logo">
                    <span class="logo-mini">{{ config("website.abreviation")|raw }}</span>
                    <span class="logo-lg">{{ config("website.name")|raw }}</span>
                </a>

                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {{ controller('CoreBundle\\Controllers\\TopBarController', 'userPanelAction', {}) }}
                        </ul>
                    </div>
                </nav>
            </header>

            <aside class="main-sidebar">
                <section class="sidebar">
                    <a href="{{ path("home") }}">
                        <div class="user-panel">
                            <div class="image">
                                <img src="/public/img/logo.svg" alt="User Image">
                            </div>
                        </div>
                    </a>
                    {{ controller('CoreBundle\\Controllers\\SidebarController', 'menuAction', {}) }}

                </section>
            </aside>

            <div class="content-wrapper" style="min-height: 298px;">

                <section class="content-header">

                    <h1>{% block pageTitle %}{% endblock %}
                        <small>{% block pageDescription %}{% endblock %}</small>
                    </h1>

                    <!--
                    <ol class="breadcrumb">
                    </ol>
                    -->

                </section>

                <section class="content">
                    <div class="row">
                        {{ alert() }}
                    </div>
                    {% block pageBody %}
                    {% endblock %}
                </section>
            </div>

            {% include "@common/base/footer.html.twig" %}        
        </div>

        <script src="/public/components/jquery/jquery.min.js"></script>
        <script src="/public/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/bower-components/AdminLTE/dist/js/app.min.js"></script>
        <script src="/public/bower-components/AdminLTE/plugins/iCheck/icheck.min.js"></script>

        {% block customJavascript %}
        {% endblock %}
    </body>
</html>