<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <link rel="icon" type="image/png" href="images/favicon.png" />
        <title>{{ config("website.title") }}</title>

        <link href="/public/components/normalize-css/normalize.css" rel="stylesheet" type="text/css" />
        <link href="/public/css/Bootstrap.css" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">

        <link href="/public/css/AdminLTE.css" rel="stylesheet" type="text/css" />
        <link href="/public/css/styles.css" rel="stylesheet" type="text/css" />
    </head>

    <body class="skin-red sidebar-mini">
        <div class="wrapper">

            <header class="main-header">

                <a href="{{ path("home") }}" class="logo">
                    <span class="logo-mini">{{ config("website.abreviation")|raw }}</span>
                    <span class="logo-lg">{{ config("website.name")|raw }}</span>
                </a>

                <nav class="navbar navbar-static-top" role="navigation">
                    <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                        <span class="sr-only">Toggle navigation</span>
                    </a>
                    <div class="navbar-custom-menu">
                        <ul class="nav navbar-nav">
                            {{ controller('CoreBundle\\Controllers\\TopBarController', 'generateUserPanelAction', {}) }}
                        </ul>
                    </div>
                </nav>
            </header>

            <aside class="main-sidebar">
                <section class="sidebar">

                    {{ controller('CoreBundle\\Controllers\\SidebarController', 'generateUserPanelAction', {}) }}

                    <form action="#" method="get" class="sidebar-form">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control" placeholder="Une équipe, un tournoi..">
                            <span class="input-group-btn">
                                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>

                    {{ controller('CoreBundle\\Controllers\\SidebarController', 'generateMenuAction', {}) }}

                </section>
            </aside>

            <div class="content-wrapper" style="min-height: 298px;">

                <section class="content-header">
                    <h1>
                        Titre de la page
                        <small>Description de cette page</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
                        <li class="active">Here</li>
                    </ol>
                </section>

                <section class="content">
                    Je met ce que je veut ici
                </section>
            </div>

            {% include 'footer.html.twig' %}        
        </div>

        <script src="/public/components/jquery/jquery.min.js"></script>
        <script src="/public/components/bootstrap/js/bootstrap.min.js"></script>
        <script src="/public/js/app.min.js"></script>
    </body>
</html>